@model Contact
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>İletişim</h2>
            <p>@Model.Content</p>
        </div>
        <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Konum:</h4>
                        <p>@Model.Adres</p>
                    </div>
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>@Model.Email</p>
                    </div>
                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Telefon:</h4>
                        <p>@Model.Phone</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.6897767507776!2d29.080467915744237!3d40.966374379304995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7a83c915c05%3A0x105033007f5094ae!2zU3VhZGl5ZSwgS2FwdGFuIEFyaWYgU29rYcSfxLEgTm86MzIsIDM0NzQwIEthZMSxa8O2eS_EsHN0YW5idWwsIFTDvHJraXll!5e0!3m2!1str!2sbg!4v1669565962734!5m2!1str!2sbg" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>

            </div>

            @* @await Component.InvokeAsync("ContactForm")*@

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form asp-action="SendMessage" asp-controller="Main" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Adınız</label>
                            <input type="text" name="FullName" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="Email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Konu</label>
                        <input type="text" class="form-control" name="Subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Mesajınız</label>
                        <textarea class="form-control" name="Message" rows="10" required></textarea>
                    </div>
                    <div class="text-center"><button type="submit" id="btnGonder">Mesajı Gönder</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById("btnGonder").addEventListener("click", function (event) {
        alert("Mesajınız başarıyla gönderildi.")
    });
</script>