<!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    @await Component.InvokeAsync("Social")
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    @await Component.InvokeAsync("Main")
    <!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        @await Component.InvokeAsync("About")
        <!-- End About Section -->
        <!-- ======= Facts Section ======= -->
        @await Component.InvokeAsync("Facts")
        <!-- End Facts Section -->
        <!-- ======= Skills Section ======= -->
        @await Component.InvokeAsync("Skills")
        <!-- End Skills Section -->
        <!-- ======= Resume Section ======= -->
        @await Component.InvokeAsync("Resume")
        <!-- End Resume Section -->
        <!-- ======= Portfolio Section ======= -->
        @await Component.InvokeAsync("Portfolio")
        <!-- End Portfolio Section -->
        <!-- ======= Services Section ======= -->
        @await Component.InvokeAsync("Services")
        <!-- End Services Section -->
        <!-- ======= Testimonials Section ======= -->
        @await Component.InvokeAsync("References")
        <!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        @await Component.InvokeAsync("Contact")
        <!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @await Html.PartialAsync("_PartialFooter")
    <!-- End  Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>