@model Portfolyo_AY.Entities.Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>UpdateSkill</h1>

<h4>Skill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSkill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SkillTitle" class="control-label"></label>
                <input asp-for="SkillTitle" class="form-control" />
                <span asp-validation-for="SkillTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillValue" class="control-label"></label>
                <input asp-for="SkillValue" class="form-control" />
                <span asp-validation-for="SkillValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Skills">Back to List</a>
</div>

